$background-color: #1f1f1f;

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

.header {
  display: flex;
  align-items: center;
  background-color: $background-color;
}
.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
}
.header-date {
  flex: 1;
  text-align: right;
  margin: 1rem;
  white: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #cf4646;
  color: white;
}
.title-h1 {
  font-weight: 300;
  font-size: 4vw;
  margin: 1rem;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: $background-color;
  text-align: center;
  color: white;
}

.cards-container {
  padding-top: 5rem;
  margin: 1rem;
}
.cards-h2 {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
}
.cards {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

.card {
  /* border: 1px solid lightgray; */
  border-radius: 0.3rem;
  /* margin: 1rem; */
  /* padding: 1rem; */
  color: #fff;
  text-align: center;
}
.card-logo {
  width: 20vw;
  height: auto;
  /* float: right; */
  /* margin: 0 0 .5rem .5rem; */
}
.card-h3 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}
